<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to '詳細', @schedule ,class: "btn btn-outline-warning"%> |
<%= link_to '戻る', schedules_path ,class: "btn btn-outline-danger"%>
