<div class="top-wrapper">
      <div class="container">
        <h1>トップアスリートから健康を意識する全ての方へ</h1>
        <h1>HealthManagementApp</h1>
      </div>
    </div>
    <div class="app-wrapper">
      <div class="container">
        <div class="heading">
          <h2>あなたをしっかりサポートします。</h2>
        </div>
        <div class="apps">
          <div class="app">
            <div class="app-icon">
              <img src="assets/images/health.jpg">
              <p>HEALTH</p>
            </div>
            <p class="text-contents">日々の体重変化を一眼で<br>確認できます。</p>
          </div>
          <div class="app">
            <div class="app-icon">
              <img src="images/food.jpg">
              <p>FOOD</p>
            </div>
            <p class="text-contents">写真でその日の食事を<br>管理できます。</p>
          </div>
          <div class="app">
            <div class="app-icon">
              <img src="schdule.jpg">
              <p>SCHDULE</p>
            </div>
            <p class="text-contents">忙しいあなたのスケジュールも<br>管理できます。</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>強靭な体を手に入れませんか？</h2>
        </div>
        <span class="btn message"><%= link_to "登録して始める", new_user_registration_path %></span>
      </div>
    </div>